<footer class="l-footer">
<div class="l-footer__inner">
<div class="l-footer__logo"><img src="https://mieru-ca.com/resources/images/common/logo.png" width="220" height="30" alt=""></div>
<p class="l-footer__text">Copyright (c) Faber Company Inc.<br class="is-sp"> All Rights Reserved.
<a href="https://mieru-ca.com/privacy-policy.html" target="_blank" rel="noopener">Privacy Policy</a>&nbsp;-&nbsp;
<a href="https://mieru-ca.com/terms-of-service.html" target="_blank" rel="noopener">Term of service</a>
</p>
</div>
</footer>

<p class="p-pageTop js-pageTop" data-js="pageTop">&nbsp;</p>
</div><!-- /.l-bodyInner -->

<div id="humberger" class="hidden-md hidden-lg"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>

<nav class="header__nav">
<div id="drawernav" class="hidden-md hidden-lg hmenu">
<ul class="header__nav__list">
<li><a href="https://mieru-ca.com/" class="current">TOP</a></li>
<li><a href="https://mieru-ca.com/a-flow/">機能</a></li>
<li><a href="https://mieru-ca.com/case/">成功事例</a></li>
<li><a href="https://mieru-ca.com/solution/">ソリューション</a></li>
<li class="has-submenu">
<span>選ばれる理由 <i class="fa fa-angle-down" aria-hidden="true"></i></span>
<ul>
<li><a href="https://mieru-ca.com/charm/">選ばれる理由</a></li>
<li><a href="https://mieru-ca.com/charm/cs/">CSのサポート内容</a></li>
<li><a href="https://mieru-ca.com/charm/learning/">学習コンテンツ</a></li>
</ul>
</li>
<li><a href="https://mieru-ca.com/#a-company">会社情報</a></li>
<li><a href="https://mieru-ca.com/blog/">ブログ</a></li>
</ul>
<a class="post-doc header__nav__trial__btn-mb" href="https://mieru-ca.com/#a-trial">無料トライアル</a>
<a class="header__nav__trial-btn hide-banner" href="https://mieru-ca.com/#a-trial">無料トライアル</a>
</div>
</nav>

<script src="/files/user/js/humbergermenu_sp.js"></script>
<!--▲/*SP用 Humberger Menu END/////////////////////////////////-->
</body>
</html>
