<header class="l-header">
<div class="l-header__inner">

<div class="l-header__left">
<p class="l-header__logo"><a href="https://mieru-ca.com/" target="_blank" rel="noopener"><img src="https://mieru-ca.com/resources/images/common/logo.png" alt="MIERUCA"></a></p>
</div>

<div class="l-header__right">
<div class="l-header__info">
<p class="l-header__info__text">ご相談はお電話でもお気軽にどうぞ</p>
<p class="l-header__info__time"><span>受付時間</span>平日 午前 9:30 - 午後18:30</p>
<div class="l-header__info__btn">
<a href="https://fabercompany.satori.site/seminar-information" target="_blank" rel="noopener">▶ ウェビナー開催中</a>
<a href="https://mieru-ca.com/download/" target="_blank" rel="noopener">▶ お役立ち資料</a>
</div>
</div>

<p class="l-header__tel"><span><i class="fa fa-phone" aria-hidden="true"></i></span><a href="tel:03-5545-5230">03-5545-5230</a></p>
</div>

</div>
</header>