<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<meta name="description" content="ECサイトの売上をアップさせるマーケティング戦略をお話しします">
<meta name="keywords" content="株式会社Faber Company">
<meta property="og:title" content="【ECサイト売上5倍】成功に導いたマーケティング戦略を徹底解説！ 「ウチは何をやればいい？」の疑問にコンサルタントが答えるお悩み解決セミナー">
<meta property="og:description" content="ECサイトの売上をアップさせるマーケティング戦略をお話しします">
<meta property="og:site_name" content="株式会社Faber Company">
<meta property="og:image" content="https://image.satr.jp/3e98d3df/adb93c62edec59e6.png" width="80%" height="auto">
<meta property="og:url" content="https://mieruca.satori.site/percore_mieruca_seminar">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Mieruca_kun">
<meta property="og:url" content="https://mieruca.satori.site/percore_mieruca_seminar">
<meta property="og:title" content="【ECサイト売上5倍】成功に導いたマーケティング戦略を徹底解説！ 「ウチは何をやればいい？」の疑問にコンサルタントが答えるお悩み解決セミナー">
<meta property="og:description" content="ECサイトの売上をアップさせるマーケティング戦略をお話しします">
<meta property="og:image" content="https://image.satr.jp/3e98d3df/adb93c62edec59e6.png">
<link rel="stylesheet" href="/files/user/css/humbergermenu_sp.css">
<link rel="stylesheet" href="/files/user/css/style.css" media="all" title="no title" charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
@@include('app/ejs/_include/script.ejs')
</head>
<body id="<%= page %>">
<div class="l-bodyInner">